@page "/buildings"
@inherits BuildingsBase

<PageTitle>Buildings
</PageTitle>
<h3 style="text-align:center">List of Buildings</h3>
<div class="editbtn">
    <div class="col-md-12">
        <a href="/EditBuilding" class="btn btn-success">
            Create Building
        </a>
    </div>
</div>
@if(Buildings == null)
{
    <div>No buildings</div>
}
else
{
<div class="row">
    @foreach (var item in Buildings)
    {
        <div class="col-md-4 col-sm-12 col-xs-12 mb-3">
            <div class="primary-card">
                <div class="card text-center p-0">
                    <img class ="card-img-top" src="@item.PictureURL" style="height:200px" alt="@item.Name">
                <div class="card-header">
                <p class="card-text">
                    <h5 class="card-title">@item.Name</h5>
                </p>
                </div>

                <div class="card-body p-3">
                    <p class="card-text"><b>Id: </b>@item.Id</p>
                    <p class="card-text"><b>City: </b>@item.City, @item.Country</p>
                    <p class="card-text"><b>Adress: </b>@item.Address</p>
                </div>
            
                <div class="card-footer ">
                    <div class="btn-group d-flex gap-4" role="group">
                        <a href="@($"BuildingDetails/{item.Id}")" class="btn btn-primary">Show Details</a>
                        <a href="@($"EditBuilding/{item.Id}")" class="btn btn-warning">Edit</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
      
    }
    </div>
}
