@page "/flats"
@inherits FlatBase

<PageTitle>Flats
</PageTitle>
<h3 style="text-align:center">List of Flats</h3>
@if(FlatsList == null)
{
    <div>No flats</div>
}
else
{
    <div class="row">
    @foreach (var item in FlatsList)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <img class ="card-img-top" src="@item.PictureURL" style="height:200px" alt="@item.Name">
                        <div class="card-header text-black" style="text-align:center">
                            <p class="card-text">
                                <h5 class="card-title">@item.Name</h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text"><b>Id: </b>@item.Id</p>
                            <p class="card-text"><b>Surface: </b>@item.Surface mp</p>
                            <p class="card-text"><b>Flat Number: </b>@item.FlatNum</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (@item.IsRented)
                                {
                                    <span class="badge bg-danger text-white">Rented</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-white">Available</span>
                                }
                                </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <div class="btn-group d-flex" role="group">
                                <a href="@($"FlatDetails/{item.Id}")" class="btn btn-primary">Show Details</a>
                               <a href="@($"EditFlat/{item.Id}")" class="btn btn-warning">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}
<div class="row">
    <div class="col-md-12">
        <a href="/EditFlat" class="btn btn-success">
            Create Flat
        </a>
    </div>
</div>