@page "/FlatDetails/{Id}"
@inherits FlatEditBase

<div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                        <img class="prd-img" src = "@NewFlat.PictureURL" alt = "@NewFlat.Name">
                </div>
                <div class = "product-div-right">
                    <span class = "product-name">@NewFlat.Name</span>
                    <span class = "product-price">Building: @NewFlatDto.BuildingID. @NewFlatDto.BuildingName</span>
                    <span class = "product-price">City: @NewFlatDto.BuildingCity</span>
                    <span class = "product-price">Address: @NewFlatDto.BuildingAddress</span>
                    <span class = "product-price">Flat Number: @NewFlat.FlatNum</span>
                    <span class = "product-price">Surface: @NewFlat.Surface mp</span>
                    <span class = "product-price">Number of Rooms: @NewFlat.NumOfRooms</span>
                    <span class = "product-price">Floor: @NewFlat.Floor</span>
                    <span class = "product-price">Floor: @NewFlat.RentingPrice.ToString("c")</span>
                                        <p class="card-text">
                                @if (@NewFlat.IsRented)
                                {
                                    <span class="badge bg-danger text-white" style="width:100px;height:25px;padding-top: 5px;">Rented</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-white" style="width:100px;height:25px; padding-top: 5px;">Available</span>
                                }
                                </p>
                    <p class = "product-description">Description: @NewFlat.Description</p>
                    <div>
                        <a @onclick="@GoToOverview" class="btn btn-primary" style="padding: 7px;">Back</a>
                        <a href="@($"EditFlat/{NewFlat.Id}")" class="btn btn-warning" style="padding: 7px;">Edit</a>
                        <a @onclick="@DeleteFlat" class="btn btn-danger" style="padding: 7px;">Delete Building</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h5 style="text-align:center">List of Expenses</h5>
<hr style="margin-top: 5px;"/>

<div class="container mt-5 px-2">
    <div class="table-responsive">
    <table class="table table-responsive table-hover">
      <thead>
        <tr class="bg-dark" style="color:white">
          <th scope="col" width="5%">Id</th>
          <th scope="col" width="20%">Name</th>
          <th scope="col" width="20%">Description</th>
          <th scope="col" width="20%">Date</th>
          <th scope="col" width="10%">Type</th>
          <th scope="col" class="text-end" width="15%"><span>Cost</span></th>
          <th scope="col" class="text-end" width="15%"><span>Options</span></th>
        </tr>
      </thead>
  <tbody>
      @foreach(var item in NewFlatDto.Expenses)
      {
    <tr class="bg-light">
      <td>@item.Id</td>
      <td>@item.Name</td>
      <td>@item.Description</td>
      <td>@item.Date</td>
      <td>@item.ExpenseType.ToString()</td>
      <td class="text-end"><span class="fw-bolder">@item.Cost.ToString("c")</span></td>
      <td class="text-end"> 
          <a href="@($"EditExpense/{item.Id}")" class="btn btn-warning" style="padding:5px">Edit</a>
      </td>
    </tr>
      }
      <tr>
      <td class="text-end"><span class="fw-bolder">Total:@TotalCost.ToString("c")</span></td>
    </tr>
  </tbody>
</table>
  
  </div>
    
</div>

<div class="row">
    <div class="col-md-12" style="margin:10px;">
        <a href="/EditExpense" class="btn btn-success" style="padding:5px">
            Create Expense
        </a>
    </div>
</div>
